.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text-center-h7{
  color: #000000;
  font-size:medium;
}
.text-center-h5{
  color: #900000;
  font-size:large;
  font-weight: bold;
}
.card-block {
  padding: 10px 0 100px; 
  color: #900000;
}
.chart{
margin-left: 10em;
margin-right: 10em;
width: 100%;
padding: 0.5em 0.5em 0.5em;
}